@model SolutionZ.StandAloneWidget.Brand

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Brand</legend>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.WidgetHeader)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.WidgetHeader)
                @Html.ValidationMessageFor(model => model.WidgetHeader)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.DepartureDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DepartureDate)
                @Html.ValidationMessageFor(model => model.DepartureDate)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.LenghtOfStaty)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LenghtOfStaty)
                @Html.ValidationMessageFor(model => model.LenghtOfStaty)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.City)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.City)
                @Html.ValidationMessageFor(model => model.City)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.State)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.State)
                @Html.ValidationMessageFor(model => model.State)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.PostalCode)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PostalCode)
                @Html.ValidationMessageFor(model => model.PostalCode)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.HotelBrandDefault)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HotelBrandDefault)
                @Html.ValidationMessageFor(model => model.HotelBrandDefault)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.HotelStarsRateDefault)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.HotelStarsRateDefault)
                @Html.ValidationMessageFor(model => model.HotelStarsRateDefault)
            </div>
    
            @*<div class="editor-label">
                @Html.LabelFor(model => model.DateCreated)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DateCreated)
                @Html.ValidationMessageFor(model => model.DateCreated)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.CreatedBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.CreatedBy)
                @Html.ValidationMessageFor(model => model.CreatedBy)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.LastUdpatedDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastUdpatedDate)
                @Html.ValidationMessageFor(model => model.LastUdpatedDate)
            </div>
    
            <div class="editor-label">
                @Html.LabelFor(model => model.LastUpdatedBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.LastUpdatedBy)
                @Html.ValidationMessageFor(model => model.LastUpdatedBy)
            </div>*@
    
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
